{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Mi Proyecto Django{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        
    </header>

    <div id="content" class="container">
        {% block content %}
            
        {% endblock %}
    </div>

    

    {% block extra_js %}{% endblock %}
</body>
</html>